

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{ width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-color: rgb(112, 76, 53);
    background-size: cover;
    padding: 10px 20px;
}

button {
    background-color: #1e1d2d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1e1d2d;
}
.b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    background-color: rgb(112, 76, 53);
    color: rgb(207, 170, 170);
    
}
.search2{  position: fixed;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 700px; top: 9px; width: 193px; height: 26px;
}
.s{
    position: absolute;
    right: -490px;
    top: 11px;
    font-size: 19px;
    background-color: rgb(112, 76, 53);
    color: rgb(207, 170, 170);

}
body {
    font-size: 20px;
    line-height: 20px;
    color: rgb(2, 2, 12);
    background: url(../image/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    line-height: normal;
}
.content {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.menu-details{
    margin-top: 200px;
}
.menu-details h5 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 200px;
}

.menu-details span {
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}

.menu-details h3 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 80px;
    margin-left: 100px;
}


.menu-list {
    display: flex;
    justify-content: center;
}

ul li {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center !important;

}



.item .menu-img {
    width: 400px;
}

.item .menu-img img {
    height: 500px;
    width: 400px;
    border: 1px dashed rgb(2, 2, 12);
    margin-right: 15px;
}

.item .menu-details {
    margin-left: 40px;
}

.item .menu-video {
    text-align: end;
}

.item .menu-video video {
    border: 1px rgb(2, 2, 12);
    width: 700px;
}

.table{
    margin-left: 1700px;
}

.table h3 {
    margin-left: 100px;
    font-size: 40px;
    margin-bottom: 20px;
}

.table td,
th {
    padding: 15px;
    font-size: 30px;
    border: 2px solid rgb(56, 13, 13);
    border-collapse: collapse;
    width: 300px;
    color: rgb(2, 2, 12);
    text-align: center;
}
